<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beid - Responsive HTML5 Template</title>
    
    <!-- CSS -->
    <link th:href="@{/assets/css/fonts/fontawesome/all.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/fonts/beid.css}" rel="stylesheet">
    
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">

    <!-- JQVMAP -->
    <link th:href="@{/assets/plugins/jqvmap/jqvmap.min.css}" rel="stylesheet">

    <!-- ion.rangeSlider -->
    <link th:href="@{/assets/plugins/ion.rangeSlider/ion.rangeSlider.css}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}">
    <link rel="icon" th:href="@{/assets/img/favicon.png}">

    <!-- Fonts -->
    <link th:href="@{/assets/fonts/inter/inter.css}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script th:src="@{http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{http://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
  </head>
  <body class="body">

    <!-- header -->
    <header class="main-header" th:replace="header::header"></header>
    <!-- /.header -->
    <!-- main -->
    <main>
      <!-- sidebar -->
      <nav id="adminNav" class="main-sidebar p-collapsing-sidebar sidebar-fixed sidebar-left d-flex flex-column" th:replace="left::left"></nav>
      <!-- /.sidebar -->

      <!-- main content -->
      <div class="main-container">
        <div class="overflow-hidden">
          <!-- shop -->
          <div id="shop" class="page-content-fl">

            <div class="text-light px-4 py-4">
              <h4 class="mb-0">Shop</h4>
            </div>

            <div class="container-fluid p-0">
              <div class="row panel-top-line">
                <div class="col-12">
                  <!-- shop-search -->
                  <div class="shop-search h-100">
                    <form class="input-light h-100">
                      <div class="input-group h-100">
                        <div class="input-group-prepend border-0 input-group-prepend">
                          <span class="input-group-text lead-1 pl-4"><span class="icon-search"></span></span>
                        </div>
                        <input type="text" placeholder="Search Here" aria-label="Search" class="form-control form-control-lg h-100">
                      </div>
                    </form>
                  </div>
                  <!-- /.shop-search -->
                </div>
                <div class="col-12">
                  <header class="shop-nav">
                    <div class="nav d-flex align-items-center py-5 px-5">
                      <div class="d-flex flex-wrap align-items-center">
                        <div class="dropdown d-flex align-items-center mr-6">
                          <span class="text-nowrap fw-500 mr-2">Sort by:</span>
                          <a class="nav-link d-inline-flex align-items-center h-100 text-capitalize ls-normal small-1 px-0" id="dropdownAscendingPrice" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-nowrap text-secondary fw-400">Ascending price</span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-left shadow-1" aria-labelledby="dropdownAscendingPrice">
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck1">
                                  <label class="custom-control-label" for="shopCheck1">Ascending price</label>
                                </div>
                              </form>
                            </div>
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck2">
                                  <label class="custom-control-label" for="shopCheck2">Descending price</label>
                                </div>
                              </form>
                            </div>
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck3">
                                  <label class="custom-control-label" for="shopCheck3">By name</label>
                                </div>
                              </form>
                            </div>
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck4">
                                  <label class="custom-control-label" for="shopCheck4">Rated</label>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown d-flex align-items-center mr-6">
                          <span class="text-nowrap fw-500 mr-2">Group:</span>
                          <a class="nav-link d-inline-flex align-items-center h-100 text-capitalize ls-normal small-1 px-0" id="dropdownNoGroup" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-nowrap text-secondary fw-400">no group</span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-left shadow-1" aria-labelledby="dropdownNoGroup">
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck2_1">
                                  <label class="custom-control-label" for="shopCheck2_1">No group</label>
                                </div>
                              </form>
                            </div>
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck2_2">
                                  <label class="custom-control-label" for="shopCheck2_2">By brand</label>
                                </div>
                              </form>
                            </div>
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck2_3">
                                  <label class="custom-control-label" for="shopCheck2_3">By availability</label>
                                </div>
                              </form>
                            </div>
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck2_4">
                                  <label class="custom-control-label" for="shopCheck2_4">Rated</label>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="dropdown d-flex align-items-center">
                          <span class="text-nowrap fw-500 mr-2">Availability:</span>
                          <a class="nav-link d-inline-flex align-items-center h-100 text-capitalize ls-normal small-1 px-0" id="dropdownInStock" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-nowrap text-secondary fw-400">in stock</span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-left shadow-1" aria-labelledby="dropdownInStock">
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck3_1">
                                  <label class="custom-control-label" for="shopCheck3_1">In stock</label>
                                </div>
                              </form>
                            </div>
                            <div class="dropdown-item px-3">
                              <form>
                                <div class="custom-control custom-checkbox fw-600">
                                  <input class="custom-control-input" type="checkbox" value="" id="shopCheck3_3">
                                  <label class="custom-control-label" for="shopCheck3_3">Сustom</label>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center w-100 w-lg-auto mt-4 mt-lg-0 ml-lg-auto">
                        <ul class="nav" id="contentTab" role="tablist">
                          <li class="nav-item d-flex align-items-center">
                            <a class="nav-link lh-1 lead-2 pl-0 pl-lg-4 pr-lg-0 active" id="content-mode-simple-tab" data-toggle="tab" href="#mode-simple" role="tab" aria-controls="mode-simple" aria-selected="false">
                              <span class="icon-multimedia-menu"></span>
                            </a>
                          </li>
                          <li class="nav-item d-flex align-items-center">
                            <a class="nav-link lh-1 lead-2 pl-0 pl-lg-4 pr-lg-0" id="content-mode-tile-tab" data-toggle="tab" href="#mode-tile" role="tab" aria-controls="mode-tile" aria-selected="false">
                              <span class="icon-options"></span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </header>
                </div>
                <div class="col-12">
                  <div class="row panel-top-line">
                    <div class="col-lp-2 panel-right-line pr-lp-5">
                      <div class="shop-sidebar pl-5 py-5 pr-5 pr-lp-0 position-relative">
                        
                        <nav class="navbar navbar-expand-lp px-0 mnh-auto">
                          <button class="navbar-toggler ml-lp-auto px-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="btn btn-lg btn-round btn-outline-warning"><i class="fas fa-th-large"></i> Filters</span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="w-100">
                              <div id="shop-nav">
                                <div class="mb-7 mt-6 mt-lp-0">
                                  <a href="" aria-expanded="false" data-toggle="collapse" class="collapser collapsed collapser-active">
                                    <div class="d-flex align-items-center lh-5">
                                      <span class="lead-1 fw-600 mb-0">Price</span>
                                      <span class="icon-down-chevron icon-collapse small ml-auto"></span>
                                    </div>
                                  </a>
                                  <div class="collapse show">
                                    <div class="w-100 pt-5 pb-5">
                                      <input type="text" class="shop-js-range-slider" name="my_range" value="" />
                                    </div>
                                  </div>
                                </div>
                                <hr class="hr-theme my-0">
                                <div class="my-7">
                                  <a href="" aria-expanded="false" data-toggle="collapse" class="collapser collapsed">
                                    <div class="d-flex align-items-center lh-5">
                                      <span class="lead-1 fw-600 mb-0">Category</span>
                                      <span class="icon-down-chevron icon-collapse small ml-auto"></span>
                                    </div>
                                  </a>
                                  <div class="collapse show">
                                    <div class="w-100 pt-1">
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_nav_1">
                                            <label class="custom-control-label" for="shopCheck_nav_1">No group</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_nav_2">
                                            <label class="custom-control-label" for="shopCheck_nav_2">Software</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_nav_3">
                                            <label class="custom-control-label" for="shopCheck_nav_3">Digital</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_nav_4">
                                            <label class="custom-control-label" for="shopCheck_nav_4">Avialiable</label>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <hr class="hr-theme my-0">
                                <div class="my-7">
                                  <a href="" aria-expanded="false" data-toggle="collapse" class="collapser collapsed">
                                    <div class="d-flex align-items-center lh-5">
                                      <span class="lead-1 fw-600 mb-0">Brand</span>
                                      <span class="icon-down-chevron icon-collapse small ml-auto"></span>
                                    </div>
                                  </a>
                                  <div class="collapse show">
                                    <div class="w-100 pt-1">
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_1">
                                            <label class="custom-control-label" for="shopCheck_Brand_1">ARK</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_2">
                                            <label class="custom-control-label" for="shopCheck_Brand_2">Asus</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_3">
                                            <label class="custom-control-label" for="shopCheck_Brand_3">BQ</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_4">
                                            <label class="custom-control-label" for="shopCheck_Brand_4">DEXP</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_5">
                                            <label class="custom-control-label" for="shopCheck_Brand_5">Fly</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_6">
                                            <label class="custom-control-label" for="shopCheck_Brand_6">Huawei</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_7">
                                            <label class="custom-control-label" for="shopCheck_Brand_7">One+</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_8">
                                            <label class="custom-control-label" for="shopCheck_Brand_8">Sony</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_Brand_9">
                                            <label class="custom-control-label" for="shopCheck_Brand_9">Vertex</label>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <hr class="hr-theme my-0">
                                <div class="my-7">
                                  <a href="" aria-expanded="false" data-toggle="collapse" class="collapser collapsed">
                                    <div class="d-flex align-items-center lh-5">
                                      <span class="lead-1 fw-600 mb-0">Security</span>
                                      <span class="icon-down-chevron icon-collapse small ml-auto"></span>
                                    </div>
                                  </a>
                                  <div class="collapse show">
                                    <div class="w-100 pt-1">
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_security_1">
                                            <label class="custom-control-label" for="shopCheck_security_1">Dust and moisture protection</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_security_2">
                                            <label class="custom-control-label" for="shopCheck_security_2">Asus</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_security_3">
                                            <label class="custom-control-label" for="shopCheck_security_3">BQ</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_security_4">
                                            <label class="custom-control-label" for="shopCheck_security_4">DEXP</label>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="my-2">
                                        <form>
                                          <div class="custom-control custom-checkbox fw-600">
                                            <input class="custom-control-input" type="checkbox" value="" id="shopCheck_security_5">
                                            <label class="custom-control-label" for="shopCheck_security_5">Fly</label>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="text-center">
                                  <a href="#" class="btn btn-block btn-warning py-2">Apply Filters</a>
                                  <a href="#" class="btn btn-block btn-outline-primary py-2">Clear Filters</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </nav>
                        
                      </div>
                    </div>
                    <div class="col-lp-10 pl-lp-0">
                      <div class="py-6 px-5">
                        <div class="tab-content" id="minimalTabContent">
                          <div class="tab-pane fade show active" id="mode-simple" role="tabpanel" aria-labelledby="content-mode-simple-tab">
                            <div class="row shop-list">
                              <!-- item -->
                              <div class="col-12 shop-item" th:each="good,goodStat:${goodList}">
                                <div class="d-xl-flex">
                                  <div class="mb-6 mb-xl-0 mr-xl-4">
                                    <img th:src="@{/assets/img/eCommerce/eCe-01.jpg}" class="img-shop-item-v rounded" alt="Smart Watch">
                                  </div>
                                  <div class="flex-1 mb-6 mb-xl-0 mr-xl-5">
                                    <a href="#" class="lead-2 fw-600 d-block lh-3 mb-3">
                                      <span th:text="${good.goodName}"></span>
                                    </a>
                                    <a class="text-warning mb-2 d-block" href="#">
                                      <span class="icon-star-favorite"></span>
                                      <span class="icon-star-favorite"></span>
                                      <span class="icon-star-favorite"></span>
                                      <span class="icon-star-favorite"></span>
                                      <span class="icon-star-shape-favorite"></span>
                                    </a>
                                    <p class="lh-7 small-2 mb-4" th:text="${good.descript}"></p>
                                    <div>
                                      <span class="small-2 mr-3"><span class="text-secondary mr-1">Delivery:</span><a href="#" class="text-warning text-dotted">in 5 days</a></span>
                                      <span class="small-2 mr-3"><span class="text-secondary mr-1">Pickup:</span><a href="#" class="text-warning text-dotted">in 4 days</a></span>
                                    </div>
                                  </div>
                                  <div>
                                    <div class="d-flex align-items-center h-100">
                                      <div class="text-xl-center">
                                        <h4 class="mb-5"><span th:text="'$'+${good.price}"></span> </h4>
                                        <a href="#" class="btn btn-theme d-flex align-items-center mb-4"><span class="icon-cart lead-1 mr-2"></span>Add to Cart</a>
                                        <a href="#" class="btn btn-outline-primary d-flex align-items-center"><span class="icon-lovers-heart lead-1 mr-2"></span>Add to Wishlist</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <hr class="my-7">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <!-- /.shop -->
        
          <!-- footer -->
          <footer id="footer" class="footer">
            <div class="container-fluid">
              <div class="row gutters-y align-items-center">
                <div class="col-md-6 col-lg-5">
                  <div class="px-3 fw-400">
                    © 2019 BEID.
                    All rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-7 order-lg-last d-none d-md-block">
                  <div class="nav nav-bold-style justify-content-end text-uppercase px-2">
                    <a class="nav-link" href="#">Terms of use</a>
                    <a class="nav-link" href="#">Privacy Policy</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!-- /.footer -->
        </div>
      </div>
      <!-- /.main content -->
    </main>
    <!-- /.main -->

    <!-- offcanvas - search -->
    <div id="offcanvas-search" class="offcanvas h-100 py-8" data-animation="fadeDown" data-scrollbar="offcanvas">
      <div class="row">
        <div class="col-sm-1 order-sm-last">
          <button type="button" data-toggle="offcanvas-close" class="close float-right mr-lg-6 text-light o-1 lead-2 fw-100" data-dismiss="offcanvas" aria-label="Close">
            <span aria-hidden="true" class="icon-close"></span>
          </button>
        </div>
        <form class="col-sm-11 col-lg-10 mx-auto input-rounded form-inline position-relative w-100 mt-0">
          <div class="input-group bg-none border-0 w-100">
            <input class="form-control form-control-lg rounded-0 bg-none pl-0 h-auto fs-6 display-md-4 display-xl-2 fw-600" type="text" aria-label="Search" placeholder="Search for...">
          </div>
          <hr class="w-100 o-25 border-white mt-0">
          <div class="row gutters-y w-100">
            <div class="col-lg-3">
              <h5 class="text-uppercase text-light mb-6"><i class="fas fa-long-arrow-alt-right"></i> Categories</h5>
              <ul class="list-unstyled pl-4">
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Architecture</strong> (800)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Art & Illustration</strong> (317)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Business & Corporate</strong> (419)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Culture & Education</strong> (672)</a>
                </li>
                <li class="mb-0">
                  <a href="#" class="tag-item"><strong>E-Commerce</strong> (272)</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h5 class="text-uppercase text-light mb-6"><i class="fas fa-long-arrow-alt-right"></i> Tags</h5>
              <ul class="list-unstyled pl-4">
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>360</strong> (128)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>3D</strong> (42)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Animation</strong> (4105)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Apps</strong> (319)</a>
                </li>
                <li class="mb-0">
                  <a href="#" class="tag-item"><strong>Apps</strong> (319)</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h5 class="text-uppercase text-light mb-6"><i class="fas fa-long-arrow-alt-right"></i> Technologies</h5>
              <ul class="list-unstyled pl-4">
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>AngularJS</strong> (629)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Apache</strong> (241)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Bootstrap</strong> (751)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>CloudFire</strong> (209)</a>
                </li>
                <li class="mb-0">
                  <a href="#" class="tag-item"><strong>CloudFire</strong> (107)</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h5 class="text-uppercase text-light mb-6"><i class="fas fa-long-arrow-alt-right"></i> Countries</h5>
              <ul class="list-unstyled pl-4">
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>United States</strong> (1605)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>France</strong> (569)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>Business & Corporate</strong> (419)</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="tag-item"><strong>United Kingdom</strong> (672)</a>
                </li>
                <li class="mb-0">
                  <a href="#" class="tag-item"><strong>Italy</strong> (484)</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /.offcanvas - search -->

    <!-- preloader -->
    <div class="preloaderWrapper"></div>

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>

    <!-- Bootstrap -->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- ION.rangeSlider -->
    <script th:src="@{/assets/plugins/ion.rangeSlider/ion.rangeSlider.min.js}"></script>
    
    <!-- User JS -->
    <script th:src="@{/assets/js/scripts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}" id="_mainJS" data-plugins="load"></script>

    <!-- Modules -->
    <script th:src="@{/assets/js/modules.js}"></script>
    <script th:src="@{/assets/js/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
  </body>
</html>
